<!doctype html>
<html>
<head>
    <title>Golf Tracker</title>
</head>
<body>
<!--    <h1>My Golf Rounds</h1>-->

    <form action="/add" method="post">
        <input type="text" name="course" placeholder="Course name" required>
        <input type="number" name="score" placeholder="Score" required>
        <button type="submit">Add Round</button>
    </form>

    <img src="{{ url_for('plot_png') }}" alt="Score vs Round Number">

    <h2>Rounds</h2>
    <ul>
        {% for round in rounds %}
            <li>#{{ round.id }} — {{ round.course }} — {{ round.score }}
                <form action="/delete" method="post" style="display:inline;">
                    <input type="hidden" name="round_id" value="{{ round.id }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% else %}
            <li>No rounds yet!</li>
        {% endfor %}
    </ul>
</body>
</html>
